/*!
Theme Name: livespiltips
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: livespiltips
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

livespiltips is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Flexboxgrid
# Elements
# Forms
# Navigation
# Accessibility
# Widgets
# Content
	## Posts and pages
# Infinite scroll
# Media
	## Captions
--------------------------------------------------------------*/
@import "_theme.variables";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Flexbox grid
--------------------------------------------------------------*/
@import "flexboxgrid";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*------------------------------------------------------------*/

//@font-face {
//  font-family: "Montserrat";
//  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Montserrat';
//  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Verdana;
  margin-bottom: 0 !important;
  background-color: $body-bg-color;
  font-size: 14px;
  line-height: 1.3em;
  color: $text-color;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 1.4em;
  color: $text-color;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;

  color: #000;
  &:visited {
    color: #000;
    // color: #fdc500;
  }

  &:hover {
    // color: #000;
    text-decoration: underline;
    text-decoration-color: #fdc500;
    -moz-text-decoration-color: #fdc500;
    // color: #fdc500;
  }
}

em,
i {
  font-style: italic;
}

h1,
h2 {
  color: #000;
  font-family: Verdana;
  line-height: 1.2em;
  a {
    color: #000;
    transition: all 0.25s ease;

    &:visited {
      color: #000;
    }

    &:hover {
      text-decoration: none;
      color: #0099fc;
    }
  }
}

aside.widget-area,
article.post,
article.page {
  margin-top: 20px;
}

aside.widget-area .widget:first-child h2,
.entry-content .wp-block-group:first-child h1,
.entry-content .wp-block-group:first-child h2,
.entry-content .wp-block-group:first-child h3 {
  margin-top: 0;
}

article.page {
  padding: 40px;
  background-color: #fff;
}

aside.widget-area {
  padding: 24px 20px;
  background-color: #fff;
}

.livespiltips-latest-post-list {
  margin-bottom: 10px;

  > div {
    margin-bottom: 17px;
    cursor: default;

    img {
      height: 180px;
    }
  }

  figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: default;
    border-radius: 8px;
    overflow: hidden;

    time {
      position: absolute;
      right: 10px;
      z-index: 1;
      top: 10px;
      background-color: #022540;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 2px 4px;
      border-radius: 4px;
    }

    > div {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
        z-index: 0;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      right: 0;
      z-index: 1;
      padding: 18px 15px;

      time {
        display: block;
        margin-bottom: 10px;
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        background: rgba(5, 23, 38, 0.32);
        width: 73px;
        text-align: center;
        line-height: 24px;
      }

      h2 {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.3em;
        font-weight: 500;

        a {
          color: #fff;

          &:hover {
            color: #fdc500;
          }
        }
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.container .row + .row {
  margin-top: 50px;
}

footer {
  &.site-footer {
    padding: 1.5em 0;
    background-color: #011727;
    color: #fff;

    h2 {
      color: #fff;
    }

    img {
      width: auto;
    }

    .copyright-area {
      font-size: 12px;
    }

    #menu-footer-menu {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        padding: 0 10px;
        position: relative;

        &:not(:last-child):after {
          content: "";
          display: block;
          width: 1px;
          height: 12px;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        a {
          font-weight: bold;
          font-size: 13px;
          text-decoration: none;
          color: #fff;
          transition: all 0.25s ease;

          &:visited {
            color: #fff;
          }

          &:hover {
            color: #004983;
          }
        }
      }
    }
  }
}

.full-width {
  padding: 40px;
  margin: 0 -40px 40px -40px;

  &.gray-background {
    background-color: $gray-color;
  }
}

.wrapper {
  margin: 0 0 40px;
}

.livespiltips-featured-post-list {
  padding: 0;
  margin: 0 0 -17px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 17px;

  li {
    margin-bottom: 17px;

    figure {
      margin: 0;
      position: relative;

      > div {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 30%,
            #000000 100%
          );
          z-index: 0;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      figcaption {
        padding: 18px 15px;
        background-color: #fff;
        border: 1px solid $border-color;
        z-index: 1;

        h2 {
          font-size: 14px;
          line-height: 1em;
          font-weight: 500;
          margin-bottom: 0;
        }

        time {
          position: absolute;
          top: 8px;
          right: 8px;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          background: rgba(5, 23, 38, 0.32);
          width: 73px;
          text-align: center;
          line-height: 24px;
        }
      }
    }
  }
}

.livespiltips-fullwidth-latest-post {
  position: relative;

  figure {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0 24px;
    background-color: #eee;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 240px;
      background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      color: #fff;
      padding: 0 27px 40px;

      h2 {
        font: 700 30px/1.2em Montserrat;
        text-transform: uppercase;
        margin: 0 0 15px;

        a {
          color: #fff;

          &:hover {
            color: #fdc500;
          }
        }
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      time {
        font: 400 24px/1.2em Verdana;
        font-size: 14px;
      }

      .read-more {
        position: relative;
        font: 700 24px/1.2em Verdana;
        white-space: nowrap;
        text-transform: uppercase;
        color: #fff;
        padding-right: 20px;
        display: inline-block;
        transition: all 0.25s ease;

        i {
          font-style: normal;
          position: absolute;
          right: 0;
          top: 50%;
          width: 14px;
          height: 2px;
          background-color: #fdc500;
          transform: translateY(-50%);
          border-radius: 2px;
          transition: all 0.25s ease;

          &:after,
          &:before {
            content: "";
            position: absolute;
            right: 1px;
            top: 0;
            width: 9px;
            height: 2px;
            background-color: #fdc500;
            transform-origin: center right;
            border-radius: 2px;
            transition: all 0.25s ease;
          }

          &:after {
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
            right: 1px;
          }
        }

        &:hover {
          text-decoration: none;
          color: #fdc500;

          i {
            &:after {
              transform: rotate(35deg);
            }

            &:before {
              transform: rotate(-35deg);
            }
          }
        }
      }
    }
  }
}

.livespiltips-fullwidth-latest-post figure .post_teams_logo,
.livespiltips-latest-post-list figure .post_teams_logo {
  position: absolute;
  top: 10px;

  img {
    width: 35px;
    height: 35px;

    + img {
      margin-left: 4px;
    }
  }
}

.livespiltips-fullwidth-latest-post figure .post_teams_logo {
  right: 10px;
}

.livespiltips-latest-post-list figure .post_teams_logo {
  left: 10px;

  &:after {
    display: none !important;
  }
}

/*========= VICTOR STYLES =========*/
.entry-meta {
  margin: 10px 0;
}

si-lb-widget[widget-id="SingleBetV2"] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post .ab-facts-list {
  border-left: 3px solid orange;
  list-style: none;
  padding-left: 12px;
  margin-left: -12px;
  li {
    margin: 8px 0;
    line-height: 20px;
  }
}

.page,
.post,
.widget-area {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

si-lb-widget[widget-id="SingleBetV2"] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ab-facts-list {
  line-height: 30px;
  border-left: 3px solid orange;
  list-style: none;
  padding-left: 12px;
  margin-left: -14px;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

.entry-title,
.widget-title,
h2 {
  text-transform: none;
  color: #111;
  font-weight: bold;
}
.widget_recent_entries ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &::before {
      content: "‣";
      margin-left: -13px;
      color: #fdc500; /* or whatever color you prefer */
    }
    margin: 8px 20px;
    .post-date {
      color: #444;
      font-size: 12px;
    }

    a {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      box-shadow: inset 0 calc(-0.15em - 1px) 0 0 #f1bd00;
    }
  }
}

.nav-links {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .nav-previous,
  .nav-next {
    padding: 10px 0;
    flex-grow: 1;
    a {
      box-shadow: inset 0 calc(-0.15em - 1px) 0 0 #f1bd00;
    }
  }
  .nav-next {
    text-align: right;
    padding-left: 5px;
  }
  .nav-previous {
    padding-right: 5px;
  }
}

.widget-title,
.page .entry-content > h1,
.page .entry-content > h2,
.page .entry-content > h3 {
  font: 700 18px/1em Verdana;
  text-transform: uppercase;
  background-color: #012540;
  border-radius: 8px;
  color: #fff;
  padding: 18px 20px;
  margin: 25px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entry-header {
  position: relative;
  z-index: 2;
}
.entry-content {
  margin-top: 0;
  position: relative;
  z-index: 2;
}
.entry-group {
  position: relative;
}
.has-post-thumbnail {
  .entry-header {
    position: absolute;
    bottom: 5px;
    z-index: 10;
    color: #fff !important;

    h1.entry-title {
      font-size: 46px;
      line-height: 50px;
      color: #fff !important;
      padding-top: 0;
      margin: 10px 0;
    }
  }
  &.post-leading-widget .entry-header {
    bottom: 45px;
  }
  .entry-content-leading-widget {
    margin-top: -60px;
  }
  .entry-meta {
    opacity: 0.7;
    margin-top: 0;
    a {
      color: #fff;
    }
  }
  .post-thumbnail {
    margin: -24px -45px 0;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
      border-radius: 5px;
      max-height: 400px;
      min-height: 400px;
      object-fit: cover;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      z-index: 0;
    }
  }
}

.entry-meta {
  display: block;
  font-size: 12px;
}

aside.widget-area,
article.post,
article.page {
  margin-top: 20px;
}

article.post,
article.page {
  padding: 24px 45px;
  background-color: #fff;
}

#page {
  position: relative;
  z-index: 2;
}

/*========= MEDIA =========*/
@media only screen and (max-width: 500px) {
  article.page,
  article.post,
  aside.widget-area {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 501px) {
  .livespiltips-latest-post-list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 17px;
  }
  .livespiltips-fullwidth-latest-post figure img {
    height: 350px;
  }
  .livespiltips-fullwidth-latest-post figure .post_teams_logo img {
    width: 50px;
    height: 50px;
  }
  .livespiltips-latest-post-list figure .post_teams_logo img {
    width: 25px;
    height: 25px;

    + img {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .livespiltips-fullwidth-latest-post figure figcaption h2 {
    font-size: 20px;
  }

  .livespiltips-fullwidth-latest-post figure figcaption time,
  .livespiltips-fullwidth-latest-post figure figcaption .read-more {
    font-size: 14px;
  }
  .nav-links {
    flex-direction: column;
    .nav-next {
      text-align: left;
    }
  }
}

@media (min-width: 1340px) {
  .livespiltips-fullwidth-latest-post figure figcaption h2 {
    width: 70%;
  }
}
