button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	box-shadow: none;
	box-sizing: border-box;
	display: inline-block;
	text-transform: capitalize;
	white-space: nowrap;
	background-color: rgb(0, 73, 131);
	color: #fff;
	outline: none;
	line-height: 32px;
	font-size: 12px;
	padding: 0 12px;
	border: 1px solid rgb(178, 178, 178);
	border-image: initial;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.25s ease;

	&:not(:disabled):active {
		box-shadow: rgba(0, 153, 252, 0.25) 0 0 0 3px;
	}

	&:not(:disabled):hover {
		background-color: rgb(1, 86, 153);
		border-color: rgb(1, 86, 153);
	}

	&:focus {
		outline: none;
	}

	a,
	a:visited,
	a:hover {
		color: #fff;
		text-decoration: none;
	}
}
