/*!
Theme Name: livespiltips
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: livespiltips
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

livespiltips is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width: 576px){.container{max-width:540px}}@media (min-width: 768px){.container{max-width:720px}}@media (min-width: 992px){.container{max-width:960px}}@media (min-width: 1200px){.container{max-width:1140px}}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}@media (min-width: 576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}}@media (min-width: 768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}}@media (min-width: 992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}}img{height:auto;max-width:100%}figure{margin:1em 0}button,input[type="button"],input[type="reset"],input[type="submit"]{box-shadow:none;box-sizing:border-box;display:inline-block;text-transform:capitalize;white-space:nowrap;background-color:#004983;color:#fff;outline:none;line-height:32px;font-size:12px;padding:0 12px;border:1px solid #b2b2b2;border-image:initial;border-radius:4px;cursor:pointer;transition:all 0.25s ease}button:not(:disabled):active,input[type="button"]:not(:disabled):active,input[type="reset"]:not(:disabled):active,input[type="submit"]:not(:disabled):active{box-shadow:rgba(0,153,252,0.25) 0 0 0 3px}button:not(:disabled):hover,input[type="button"]:not(:disabled):hover,input[type="reset"]:not(:disabled):hover,input[type="submit"]:not(:disabled):hover{background-color:#015699;border-color:#015699}button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus{outline:none}button a,button a:visited,button a:hover,input[type="button"] a,input[type="button"] a:visited,input[type="button"] a:hover,input[type="reset"] a,input[type="reset"] a:visited,input[type="reset"] a:hover,input[type="submit"] a,input[type="submit"] a:visited,input[type="submit"] a:hover{color:#fff;text-decoration:none}a{cursor:pointer !important;text-decoration:none;color:royalblue}a:visited{color:purple}a:hover,a:focus,a:active{color:midnightblue}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.livespiltips-site-header{position:sticky;top:0;z-index:900;display:flex;align-items:center;padding-right:15px;box-shadow:0 0 8px rgba(0,0,0,0.3);background-color:#011727}.livespiltips-site-header .site-title{font:700 28px/1em Montserrat;margin:0}.livespiltips-site-header .site-title a{color:#fff;text-decoration:none}.site-branding-container{flex-grow:1;padding:10px 0}.main-menu{background-color:#fdc500;box-shadow:0 0 8px rgba(0,0,0,0.3)}.main-menu .current_page_item{background-color:#fbb936}.main-menu ul{list-style:none;margin:0;padding:0}.main-menu>ul{display:flex}.main-menu #nav{list-style:none;margin:0;padding:0;display:flex;flex-direction:column}.main-menu #nav .sub-menu{z-index:900;position:absolute;width:200px;background-color:#fdc500;list-style:none;margin:0;padding:0;opacity:0;visibility:hidden;transition:all 0.1s ease;flex-direction:column}.main-menu #nav .sub-menu li{border-top:2px solid #fed43a;border-right:0;width:100%}.main-menu #nav .sub-menu li:after{width:0 !important}.main-menu #nav .sub-menu a{font-size:20px;padding:12px 20px}.main-menu #nav li{position:relative}.main-menu #nav li+li{border-top:2px solid #ffd43a}.main-menu #nav li a{font:500 22px/1em Verdana;text-decoration:none;color:#000;padding-top:12px;padding-bottom:12px;padding-left:15px;display:block;transition:all 0.2s ease;cursor:pointer}.main-menu #nav li.current_page_parent,.main-menu #nav li.current-menu-item,.main-menu #nav li:hover{background-color:#fbb936;color:#000}.main-menu #nav li:hover>ul.sub-menu,.main-menu #nav li.focus>ul.sub-menu{opacity:1;visibility:visible}#menu-toggle{display:flex;flex-shrink:0;flex-direction:column;position:relative;z-index:1;-webkit-user-select:none;user-select:none}#menu-toggle input{position:absolute;top:-8px;left:-6px;z-index:2;display:flex;width:40px;height:40px;opacity:0;cursor:pointer}#menu-toggle span{display:flex;width:29px;height:2px;margin-bottom:5px;position:relative;background-color:#ffffff;border-radius:3px;z-index:1;transform-origin:5px 0;transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease}#menu-toggle span:first-child{transform-origin:0 0}#menu-toggle span:nth-last-child(2){transform-origin:0 100%}#menu-toggle input:checked ~ span{opacity:1;transform:rotate(45deg) translate(-3px, -1px);background-color:#36383f}#menu-toggle input:checked ~ span:nth-last-child(3){opacity:0;transform:rotate(0deg) scale(0.2, 0.2)}#menu-toggle input:checked ~ span:nth-last-child(2){transform:rotate(-45deg) translate(0, -1px)}#menu-toggle input:checked ~ #main-menu{transform:translate(0, 0)}@media screen and (min-width: 993px) and (max-width: 1339px){.livespiltips-site-header .main-menu #nav li a{padding:18px 25px;font-size:19px}}@media screen and (min-width: 768px) and (max-width: 992px){.livespiltips-site-header .main-menu #nav li a{padding:18px;font-size:17px}}@media screen and (max-width: 768px){.main-menu{position:fixed;top:0;right:0;width:100vw;height:calc(100vh + 50px);margin-top:-50px;padding:100px 0 30px;-webkit-font-smoothing:antialiased;transform-origin:0 0;transform:translate(100%, 0);transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);overflow-x:hidden;overflow-y:auto}.admin-bar .main-menu{height:calc(100vh + 96px);margin-top:-96px;padding-top:196px}.main-menu .menu-item-has-children{position:relative}.main-menu .menu-item-has-children a{padding-right:40px}.main-menu .menu-item-has-children:before,.main-menu .menu-item-has-children:after{content:"";position:absolute;top:17px;border-radius:4px;background-color:#051726;transition:all 0.1s ease}.main-menu .menu-item-has-children:before{right:18px;height:20px;width:4px;margin-top:-5px;opacity:1;visibility:visible}.main-menu .menu-item-has-children:after{right:10px;height:4px;width:20px;margin-top:3px}.main-menu .menu-item-has-children.focus:before{opacity:0;visibility:hidden}.main-menu #nav .sub-menu{width:100%}.main-menu #nav .sub-menu a{padding-left:30px}.main-menu #nav li:hover>ul.sub-menu,.main-menu #nav li.focus>ul.sub-menu{position:relative;display:block;left:auto;opacity:1;visibility:visible}}@media screen and (min-width: 769px){#menu-toggle>input[type="checkbox"],#menu-toggle span{display:none}.livespiltips-site-header{position:relative;display:block;padding-right:0;box-shadow:none;background:none}.livespiltips-site-header .site-title{font:700 36px/1em Verdana}.main-menu{position:relative;margin:0 auto;padding:0;border-radius:0 0 8px 8px}.main-menu ul{display:flex;flex-direction:row;align-items:center}.main-menu #nav{flex-direction:row;align-items:center}.main-menu #nav li:first-child{border-radius:0 0 0 8px}.main-menu #nav li+li{border:none}.main-menu #nav li:not(:last-child):after{content:"";position:absolute;top:0;right:0;background-color:#ffd43a;width:3px;height:100%}.main-menu #nav li a{font:500 21px/1em Verdana;padding:18px 50px}.site-branding-container{padding:20px 0;background-color:#011727}}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:14px;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.sticky{display:block}.post,.page{margin:0 0 45px}.post,.page,.widget-area{box-shadow:0 0 4px rgba(0,0,0,0.1);border-radius:3px}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}@font-face{font-family:"Montserrat";src:url("./fonts/Montserrat-Bold.woff2") format("woff2");font-weight:bold;font-style:normal;font-display:swap}body{font-family:Verdana;margin-bottom:0 !important;background-color:#f9f9f9;font-size:14px;line-height:1.3em;color:#051726;overflow-x:hidden}p{font-size:16px;line-height:1.4em;color:#051726;margin-bottom:1.5em}a{text-decoration:none;color:#000}a:visited{color:#000}a:hover{text-decoration:underline;text-decoration-color:#fdc500;-moz-text-decoration-color:#fdc500}em,i{font-style:italic}h1,h2{color:#000;font-family:Verdana;line-height:1.2em}h1 a,h2 a{color:#000;transition:all 0.25s ease}h1 a:visited,h2 a:visited{color:#000}h1 a:hover,h2 a:hover{text-decoration:none;color:#0099fc}aside.widget-area,article.post,article.page{margin-top:20px}aside.widget-area .widget:first-child h2,.entry-content .wp-block-group:first-child h1,.entry-content .wp-block-group:first-child h2,.entry-content .wp-block-group:first-child h3{margin-top:0}article.page{padding:40px;background-color:#fff}aside.widget-area{padding:24px 20px;background-color:#fff}.livespiltips-latest-post-list{margin-bottom:10px}.livespiltips-latest-post-list>div{margin-bottom:17px;cursor:default}.livespiltips-latest-post-list>div img{height:180px}.livespiltips-latest-post-list figure{margin:0;padding:0;position:relative;cursor:default;border-radius:8px;overflow:hidden}.livespiltips-latest-post-list figure time{position:absolute;right:10px;z-index:1;top:10px;background-color:#022540;color:#fff;font-size:12px;font-weight:bold;padding:2px 4px;border-radius:4px}.livespiltips-latest-post-list figure>div{position:relative}.livespiltips-latest-post-list figure>div:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(180deg, rgba(0,0,0,0) 30%, #000 100%);z-index:0}.livespiltips-latest-post-list figure img{width:100%;object-fit:cover}.livespiltips-latest-post-list figure figcaption{position:absolute;left:0;bottom:0;color:#fff;right:0;z-index:1;padding:18px 15px}.livespiltips-latest-post-list figure figcaption time{display:block;margin-bottom:10px;position:absolute;top:8px;right:8px;color:#fff;font-size:14px;font-weight:600;background:rgba(5,23,38,0.32);width:73px;text-align:center;line-height:24px}.livespiltips-latest-post-list figure figcaption h2{margin-bottom:0;font-size:14px;line-height:1.3em;font-weight:500}.livespiltips-latest-post-list figure figcaption h2 a{color:#fff}.livespiltips-latest-post-list figure figcaption h2 a:hover{color:#fdc500}.livespiltips-latest-post-list figure figcaption p{font-size:16px;margin:0}.container .row+.row{margin-top:50px}footer.site-footer{padding:1.5em 0;background-color:#011727;color:#fff}footer.site-footer h2{color:#fff}footer.site-footer img{width:auto}footer.site-footer .copyright-area{font-size:12px}footer.site-footer #menu-footer-menu{padding:0;margin:0;list-style:none;display:flex;justify-content:center}footer.site-footer #menu-footer-menu li{padding:0 10px;position:relative}footer.site-footer #menu-footer-menu li:not(:last-child):after{content:"";display:block;width:1px;height:12px;background-color:rgba(255,255,255,0.5);position:absolute;top:50%;right:0;transform:translateY(-50%)}footer.site-footer #menu-footer-menu li a{font-weight:bold;font-size:13px;text-decoration:none;color:#fff;transition:all 0.25s ease}footer.site-footer #menu-footer-menu li a:visited{color:#fff}footer.site-footer #menu-footer-menu li a:hover{color:#004983}.full-width{padding:40px;margin:0 -40px 40px -40px}.full-width.gray-background{background-color:#e5e5e5}.wrapper{margin:0 0 40px}.livespiltips-featured-post-list{padding:0;margin:0 0 -17px;list-style:none;display:grid;grid-template-columns:1fr 1fr 1fr;grid-column-gap:17px}.livespiltips-featured-post-list li{margin-bottom:17px}.livespiltips-featured-post-list li figure{margin:0;position:relative}.livespiltips-featured-post-list li figure>div{position:relative}.livespiltips-featured-post-list li figure>div:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(180deg, rgba(0,0,0,0) 30%, #000 100%);z-index:0}.livespiltips-featured-post-list li figure img{width:100%;object-fit:cover}.livespiltips-featured-post-list li figure figcaption{padding:18px 15px;background-color:#fff;border:1px solid #f2f2f2;z-index:1}.livespiltips-featured-post-list li figure figcaption h2{font-size:14px;line-height:1em;font-weight:500;margin-bottom:0}.livespiltips-featured-post-list li figure figcaption time{position:absolute;top:8px;right:8px;color:#fff;font-size:14px;font-weight:600;background:rgba(5,23,38,0.32);width:73px;text-align:center;line-height:24px}.livespiltips-fullwidth-latest-post{position:relative}.livespiltips-fullwidth-latest-post figure{position:relative;border-radius:8px;overflow:hidden;margin:0 0 24px;background-color:#eee}.livespiltips-fullwidth-latest-post figure img{width:100%;height:240px;object-fit:cover}.livespiltips-fullwidth-latest-post figure:after{content:"";position:absolute;width:100%;height:240px;background:linear-gradient(to top, black 0%, rgba(0,0,0,0) 100%);bottom:0;left:0;z-index:0}.livespiltips-fullwidth-latest-post figure figcaption{position:absolute;bottom:0;left:0;right:0;z-index:5;color:#fff;padding:0 27px 40px}.livespiltips-fullwidth-latest-post figure figcaption h2{font:700 30px/1.2em Montserrat;text-transform:uppercase;margin:0 0 15px}.livespiltips-fullwidth-latest-post figure figcaption h2 a{color:#fff}.livespiltips-fullwidth-latest-post figure figcaption h2 a:hover{color:#fdc500}.livespiltips-fullwidth-latest-post figure figcaption>div{display:flex;justify-content:space-between;align-items:center}.livespiltips-fullwidth-latest-post figure figcaption time{font:400 24px/1.2em Verdana;font-size:14px}.livespiltips-fullwidth-latest-post figure figcaption .read-more{position:relative;font:700 24px/1.2em Verdana;white-space:nowrap;text-transform:uppercase;color:#fff;padding-right:20px;display:inline-block;transition:all 0.25s ease}.livespiltips-fullwidth-latest-post figure figcaption .read-more i{font-style:normal;position:absolute;right:0;top:50%;width:14px;height:2px;background-color:#fdc500;transform:translateY(-50%);border-radius:2px;transition:all 0.25s ease}.livespiltips-fullwidth-latest-post figure figcaption .read-more i:after,.livespiltips-fullwidth-latest-post figure figcaption .read-more i:before{content:"";position:absolute;right:1px;top:0;width:9px;height:2px;background-color:#fdc500;transform-origin:center right;border-radius:2px;transition:all 0.25s ease}.livespiltips-fullwidth-latest-post figure figcaption .read-more i:after{transform:rotate(45deg)}.livespiltips-fullwidth-latest-post figure figcaption .read-more i:before{transform:rotate(-45deg);right:1px}.livespiltips-fullwidth-latest-post figure figcaption .read-more:hover{text-decoration:none;color:#fdc500}.livespiltips-fullwidth-latest-post figure figcaption .read-more:hover i:after{transform:rotate(35deg)}.livespiltips-fullwidth-latest-post figure figcaption .read-more:hover i:before{transform:rotate(-35deg)}.livespiltips-fullwidth-latest-post figure .post_teams_logo,.livespiltips-latest-post-list figure .post_teams_logo{position:absolute;top:10px}.livespiltips-fullwidth-latest-post figure .post_teams_logo img,.livespiltips-latest-post-list figure .post_teams_logo img{width:35px;height:35px}.livespiltips-fullwidth-latest-post figure .post_teams_logo img+img,.livespiltips-latest-post-list figure .post_teams_logo img+img{margin-left:4px}.livespiltips-fullwidth-latest-post figure .post_teams_logo{right:10px}.livespiltips-latest-post-list figure .post_teams_logo{left:10px}.livespiltips-latest-post-list figure .post_teams_logo:after{display:none !important}.entry-meta{margin:10px 0}si-lb-widget[widget-id="SingleBetV2"]{margin-top:50px;margin-bottom:50px}.post .ab-facts-list{border-left:3px solid orange;list-style:none;padding-left:12px;margin-left:-12px}.post .ab-facts-list li{margin:8px 0;line-height:20px}.page,.post,.widget-area{box-shadow:0 0 4px rgba(0,0,0,0.1);border-radius:3px}si-lb-widget[widget-id="SingleBetV2"]{margin-top:50px;margin-bottom:50px}.ab-facts-list{line-height:30px;border-left:3px solid orange;list-style:none;padding-left:12px;margin-left:-14px}p{font-size:16px;line-height:1.4em}.entry-title,.widget-title,h2{text-transform:none;color:#111;font-weight:bold}.widget_recent_entries ul{list-style:none;margin:0;padding:0}.widget_recent_entries ul li{margin:8px 20px}.widget_recent_entries ul li::before{content:"‣";margin-left:-13px;color:#fdc500}.widget_recent_entries ul li .post-date{color:#444;font-size:12px}.widget_recent_entries ul li a{font-weight:bold;font-size:14px;line-height:22px;box-shadow:inset 0 calc(-0.15em - 1px) 0 0 #f1bd00}.nav-links{margin-top:30px;display:flex;justify-content:space-between}.nav-links .nav-previous,.nav-links .nav-next{padding:10px 0;flex-grow:1}.nav-links .nav-previous a,.nav-links .nav-next a{box-shadow:inset 0 calc(-0.15em - 1px) 0 0 #f1bd00}.nav-links .nav-next{text-align:right;padding-left:5px}.nav-links .nav-previous{padding-right:5px}.widget-title,.page .entry-content>h1,.page .entry-content>h2,.page .entry-content>h3{font:700 18px/1em Verdana;text-transform:uppercase;background-color:#012540;border-radius:8px;color:#fff;padding:18px 20px;margin:25px 0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.entry-header{position:relative;z-index:2}.entry-content{margin-top:0;position:relative;z-index:2}.entry-group{position:relative}.has-post-thumbnail .entry-header{position:absolute;bottom:5px;z-index:10;color:#fff !important}.has-post-thumbnail .entry-header h1.entry-title{font-size:46px;line-height:50px;color:#fff !important;padding-top:0;margin:10px 0}.has-post-thumbnail.post-leading-widget .entry-header{bottom:45px}.has-post-thumbnail .entry-content-leading-widget{margin-top:-60px}.has-post-thumbnail .entry-meta{opacity:0.7;margin-top:0}.has-post-thumbnail .entry-meta a{color:#fff}.has-post-thumbnail .post-thumbnail{margin:-24px -45px 0;position:relative;overflow:hidden;border-radius:5px}.has-post-thumbnail .post-thumbnail img{width:100%;border-radius:5px;max-height:400px;min-height:400px;object-fit:cover}.has-post-thumbnail .post-thumbnail:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);z-index:0}.entry-meta{display:block;font-size:12px}aside.widget-area,article.post,article.page{margin-top:20px}article.post,article.page{padding:24px 45px;background-color:#fff}#page{position:relative;z-index:2}@media only screen and (max-width: 500px){article.page,article.post,aside.widget-area{padding-top:10px;padding-left:10px;padding-right:10px;margin-bottom:10px}}@media only screen and (min-width: 501px){.livespiltips-latest-post-list{display:grid;grid-template-columns:1fr 1fr 1fr;grid-column-gap:17px}.livespiltips-fullwidth-latest-post figure img{height:350px}.livespiltips-fullwidth-latest-post figure .post_teams_logo img{width:50px;height:50px}.livespiltips-latest-post-list figure .post_teams_logo img{width:25px;height:25px}.livespiltips-latest-post-list figure .post_teams_logo img+img{margin-left:0}}@media only screen and (max-width: 991px){.livespiltips-fullwidth-latest-post figure figcaption h2{font-size:20px}.livespiltips-fullwidth-latest-post figure figcaption time,.livespiltips-fullwidth-latest-post figure figcaption .read-more{font-size:14px}.nav-links{flex-direction:column}.nav-links .nav-next{text-align:left}}@media (min-width: 1340px){.livespiltips-fullwidth-latest-post figure figcaption h2{width:70%}}
