@import "links";

.livespiltips-site-header {
  position: sticky;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  padding-right: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #011727;

  .site-title {
    font: 700 28px/1em Montserrat;
    margin: 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.site-branding-container {
  flex-grow: 1;
  padding: 10px 0;
}

.main-menu {
  background-color: #fdc500;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  .current_page_item {
    background-color: #fbb936;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & > ul {
    display: flex;
  }

  #nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .sub-menu {
      z-index: 900;
      position: absolute;
      width: 200px;
      background-color: #fdc500;
      list-style: none;
      margin: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease;
      flex-direction: column;

      li {
        border-top: 2px solid #fed43a;
        border-right: 0;
        width: 100%;
        &:after {
          width: 0 !important;
        }
      }

      a {
        font-size: 20px;
        padding: 12px 20px;
      }
    }

    li {
      position: relative;

      + li {
        border-top: 2px solid #ffd43a;
      }

      a {
        font: 500 22px/1em Verdana;
        text-decoration: none;
        color: #000;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        display: block;
        transition: all 0.2s ease;
        cursor: pointer;
      }

      &.current_page_parent,
      &.current-menu-item,
      &:hover {
        background-color: #fbb936;
        color: #000;
      }

      &:hover > ul.sub-menu,
      &.focus > ul.sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

#menu-toggle {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    position: absolute;
    top: -8px;
    left: -6px;
    z-index: 2;
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }

  span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0 0;
    }

    &:nth-last-child(2) {
      transform-origin: 0 100%;
    }
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background-color: #36383f;
  }
  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ #main-menu {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 993px) and (max-width: 1339px) {
  .livespiltips-site-header .main-menu #nav li a {
    padding: 18px 25px;
    font-size: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .livespiltips-site-header .main-menu #nav li a {
    padding: 18px;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh + 50px);
    margin-top: -50px;
    padding: 100px 0 30px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    overflow-x: hidden;
    overflow-y: auto;

    .admin-bar & {
      height: calc(100vh + 96px);
      margin-top: -96px;
      padding-top: 196px;
    }

    .menu-item-has-children {
      position: relative;

      a {
        padding-right: 40px;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 17px;
        border-radius: 4px;
        background-color: #051726;
        transition: all 0.1s ease;
      }

      &:before {
        right: 18px;
        height: 20px;
        width: 4px;
        margin-top: -5px;
        opacity: 1;
        visibility: visible;
      }

      &:after {
        right: 10px;
        height: 4px;
        width: 20px;
        margin-top: 3px;
      }

      &.focus {
        &:before {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    #nav {
      .sub-menu {
        width: 100%;
        a {
          padding-left: 30px;
        }
      }
      li {
        &:hover > ul.sub-menu,
        &.focus > ul.sub-menu {
          position: relative;
          display: block;
          left: auto;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #menu-toggle {
    > input[type="checkbox"],
    span {
      display: none;
    }
  }

  .livespiltips-site-header {
    position: relative;
    display: block;
    padding-right: 0;
    box-shadow: none;
    background: none;

    .site-title {
      font: 700 36px/1em Verdana;
    }
  }

  .main-menu {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-radius: 0 0 8px 8px;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    #nav {
      flex-direction: row;
      align-items: center;

      li {
        &:first-child {
          border-radius: 0 0 0 8px;
        }
        // &:last-child {
        //   border-radius: 0 0 8px 0;
        // }

        + li {
          border: none;
        }

        &:not(:last-child) {
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ffd43a;
            width: 3px;
            height: 100%;
          }
        }

        a {
          font: 500 21px/1em Verdana;
          padding: 18px 50px;
        }
      }
    }
  }

  .site-branding-container {
    padding: 20px 0;
    background-color: #011727;
  }
}
