.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 45px;
}

.post,
.page,
.widget-area {
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	border-radius: 3px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
